@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100dvh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


.playground_layout{
  display: grid;
  grid-template-areas: "file_tree code_editor"
             "file_tree code_editor"
             "file_tree  terminal";
  grid-template-columns: 20rem 1fr;
}

.file_tree{
  grid-area: file_tree;
}

.code_editor{
  grid-area: code_editor;
}

.terminal{
  grid-area: terminal;
}